<html>
    <head>
        <title>Order Editor</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="skus">
            <div class="error">
                {{ message }}
            </div>
            Add new SKU to order: 
            <select v-model="selectedSku" id="skuList" >
                <option v-for="sku in availableSkus" v-bind:value="sku">
                    {{sku.displayName}}
                </option>
            </select>
            <button v-on:click="addSku(selectedSku)">Add Sku to Order</button>
        </div>
        <div id="order">
            Order# {{ orderId }}:
            <button v-on:click="clearOrder">Clear All Lines</button>
            <div class="error">
                {{ message }}
            </div>
            <table>
                <template v-for="line in orderBy(lines, 'sortOrder')">
                    <tr>
                        <td>
                            {{ line.skuDisplayName }}
                        </td>
                        <td>
                            <input v-model="line.quantity" />
                        </td>
                        <td>
                            <button v-on:click="updateQuantity(line)">Update</button>
                        </td>
                        <td>
                            <button v-on:click="clearLine(line)">Remove</button>
                        </td>
                    </tr>
                </template>                
            </table>
        </div>
        </body>
</html>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@2.2.5/dist/vue.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>
<script type="text/javascript">
    Vue.prototype.$eventHub = new Vue(); // Global event bus
    var retries = 0;
    axios.interceptors.response.use(
        response => response,
        (error) => {
            if (retries < 3) {
                const originalRequest = error.config
                retries++;
                return axios(originalRequest)
            }
            else{
                retries = 0;
                return Promise.reject(error)
            }
        }
    )
    new Vue({
        el: '#skus',
        data () {                
            return {
                message: null,
                selectedSku: null,
                availableSkus: []
            }
        },
        mounted(){
            var header = {
                'Access-Control-Allow-Origin': '*',
                'Access-Control-Allow-Methods': 'GET, PUT, POST, DELETE, OPTIONS',
                'Content-Type': 'application/json',
            }
            axios
            .get('https://localhost:44315/api/skus', { crossdomain: true })
            .then(response => {
                this.availableSkus = response.data;
                if(this.availableSkus.length > 0)
                {
                    this.selectedSku = this.availableSkus[0];
                }
            })
            .catch(function (error) {
                console.log(error.message);
                this.message = error.message
            })
        },
        methods : {
            addSku : function(code){
                this.$eventHub.$emit('addSku', code);
            }
        }
    });
    new Vue({
        el: '#order',
        data () {                
            return {
                message: null,
                orderId: null,
                lines: [],
            }
        },
        created() { 
            var uri = window.location.search.substring(1); 
            var params = new URLSearchParams(uri);
            if(params.has("id")) {
                this.orderId = params.get("id");
            }
            else {
                this.message = "No Order id specified"
            }
        },
        mounted () {
            var vm = this;
            this.$eventHub.$on('addSku', function (payload) {
                function checkSku(line){
                    return line.skuCode === payload.code;
                };
                if(vm.lines.some(checkSku)) {
                    vm.message = "Order already contains a line with this product";
                }
                else {
                    vm.message = "";
                    axios
                    .put("https://localhost:44315/api/orders/" + vm.orderId, {
                            "quantity": 1,
                            "skuCode": payload.code
                    }).then(response => {
                        vm.message = "";
                        var max = function(lines){
                            return Math.max(...lines.map(line => line.sortOrder))
                        }
                        var newLine = {
                            id: response.data,
                            quantity: 1,
                            skuCode: payload.code,
                            skuDisplayName: payload.displayName,
                            sortOrder: max(vm.lines) + 10                            
                        }
                        vm.lines.push(newLine)
                    })
                    .catch(function (error) {
                        console.log(error.message);
                        vm.message = error.response.status == 500 ? error.response.statusText : error.response.data;
                    })
                }
            });            
            if (this.orderId != null) {
                axios
                .get("https://localhost:44315/api/orders/" + this.orderId)
                .then(response => {
                    vm.message = "";
                    this.lines = response.data.lines;
                })
                .catch(function (error) {
                    console.log(error.message);
                    vm.message = error.response.data; // TODO: this.message = doesn't update the view
                })
            }
        },
        methods : {
            updateQuantity : function(line){
                this.message = "";
                axios // TODO avoid invoking the server if button clicked but value hasn't changed
                .put("https://localhost:44315/api/orders/" + this.orderId, {
                        "id": line.id,
                        "quantity": line.quantity,
                        "skuCode": line.skuCode
                }).then(response => { })
                .catch(function (error) {
                    console.log(error.message);
                    this.message = error.response.status == 500 ? error.response.statusText : error.response.data;
                })
            },
            clearLine : function(line){
                this.message = "";
                axios
                .delete("https://localhost:44315/api/orders/" + this.orderId + "?orderLineId=" + line.id)
                .then(response => {
                    index = this.lines.findIndex(l => l.skuCode === line.skuCode);
                    this.lines.splice(index, 1);
                 })
                .catch(function (error) {
                    console.log(error.message);
                    this.message = error.response.status == 500 ? error.response.statusText : error.response.data;
                })
            },
            clearOrder : function(){
                this.message = "";
                axios
                .delete("https://localhost:44315/api/orders/" + this.orderId)
                .then(response => {
                    this.lines = [];
                 })
                .catch(function (error) {
                    console.log(error.message);
                    this.message = error.response.status == 500 ? error.response.statusText : error.response.data;
                })
            }
        }
    });
</script>


      