<html>
    <head>
        <title>Order Editor</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="skus">
            <div class="error">
                {{ message }}
            </div>
            Add new SKU to order: 
            <select v-model="selectedSku" id="skuList" >
                <option v-for="sku in availableSkus" v-bind:value="sku">
                    {{sku.displayName}}
                </option>
            </select>
            <button v-on:click="addSku(selectedSku)">Add Sku to Order</button>
        </div>
        <div id="order">
            Order# {{ orderId }}:
            <button v-on:click="clearOrder">Clear All Lines</button>
            <div class="error">
                {{ message }}
            </div>
            <table>
                <template v-for="line in orderBy(lines, 'sortOrder')">
                    <tr>
                        <td>
                            {{ line.skuDisplayName }}
                        </td>
                        <td>
                            <input v-model="line.quantity" />
                        </td>
                        <td>
                            <button v-on:click="updateQuantity(line)">Update</button>
                        </td>
                        <td>
                            <button v-on:click="clearLine(line)">Remove</button>
                        </td>
                    </tr>
                </template>                
            </table>
        </div>
        </body>
</html>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@2.2.5/dist/vue.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>
<script type="text/javascript" src="retry.js"></script>
<script type="text/javascript" src="skus.js"></script>
<script type="text/javascript" src="order.js"></script>